<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892216803962-qo3105qg1pkpt20tgt2tqpu19imrnc54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892216803962-qo3105qg1pkpt20tgt2tqpu19imrnc54</string>
	<key>API_KEY</key>
	<string>AIzaSyA0seF08RjZ2uqlM5HPoDQcQH3tUSr9UyU</string>
	<key>GCM_SENDER_ID</key>
	<string>892216803962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tilert.guest-list</string>
	<key>PROJECT_ID</key>
	<string>guest-list-8dd4a</string>
	<key>STORAGE_BUCKET</key>
	<string>guest-list-8dd4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892216803962:ios:10775a552f2529494531c3</string>
	<key>DATABASE_URL</key>
	<string>https://guest-list-8dd4a.firebaseio.com</string>
</dict>
</plist>